<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pomodoro Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pomodoro Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="clock">
      <strong>Current Time:</strong>
      <p>{{ currentTime }}</p>
    </div>

    <div id="timer">
      <strong>Timer:</strong>
      <p>{{ timerDisplay }}</p>
    </div>

    <ion-button expand="block" (click)="startPomodoro()">Start Pomodoro Cycle</ion-button>
  </div>
</ion-content>